[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "flask-paseto-extended"
version = "0.4.2"
description = "PASETO (Platform-Agnostic Security Tokens) for Flask applications."
authors = ["Ajitomi Daisuke <dajiaji@gmail.com>"]
readme = "README.md"
repository = "https://github.com/dajiaji/flask-paseto-extended"

include = [
  "CHANGES.rst",
  "docs",
  "poetry.lock",
  "tests",
  "tox.ini",
]

exclude = [
  "docs/_build",
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
Werkzeug = "^2.3.7"
Flask = "^2.3.3"
Flask-Login = "^0.6.2"
pyseto = "^1.7.4"
Sphinx = {version = ">=7.0.1", extras = ["docs"]}
sphinx-rtd-theme = {version = "^1.0.0", extras = ["docs"]}
sphinx-autodoc-typehints = {version = "^1.23.4", extras = ["docs"]}

[tool.poetry.extras]
docs = [
  "Sphinx",
  "sphinx-rtd-theme",
  "sphinx-autodoc-typehints",
]

[tool.poetry.dev-dependencies]
pytest = "^7.0"
pytest-cov = "^4.0.0"
coverage = {extras = ["toml"], version = "^6.2"}
tox = "^3.28.0"
pre-commit = "^2.15.0"
mypy = "^0.971"
