name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Python ${{ matrix.python-version }} on ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    env:
      USING_COVERAGE: "3.13"
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the project dependencies
      run: uv sync --locked --all-extras --dev
    - name: Run checks
      run: uv run pre-commit run --all-files
    - name: Run docs build
      run: uv run sphinx-build -n -T -W -b html docs docs/_build/html
    - name: Run tests
      run: uv run pytest -ra --cov=flask_paseto_extended --cov-report=term --cov-report=xml tests
    - name: Upload coverage to Codecov
      if: contains(env.USING_COVERAGE, matrix.python-version) && matrix.platform == 'ubuntu-latest'
      uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

  package:
    name: Build package
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        python-version: "3.13"
    - name: Build the project
      run: uv build
    - name: Show result
      run: ls -l dist
    # - name: Smoke test (wheel)
    #   run: uv run --isolated --no-project --with dist/*.whl tests/test_sample.py
    # - name: Smoke test (sdist)
    #   run: uv run --isolated --no-project --with dist/*.tar.gz tests/test_sample.py
    - name: Install package
      run: python -m pip install .
    - name: Import package
      run: python -c "import flask_paseto_extended; print(flask_paseto_extended.__version__)"
    - name: Publish (dry-run)
      run: uv publish --dry-run --token ${{ secrets.UV_PUBLISH_TOKEN }}
